body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: left;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    color: #ccc;
    font-size: 10px;
}